<ul class="list-inline">
  <li><h2><span class="label label-info"><%= Board::PLAYER1 %> - <%= @board.name(0) %></span></h2></li>
  <li><h2><span class="label label-info"><%= Board::PLAYER2 %> - <%= @board.name(1) %></span></h2></li>
</ul>

<script>
  $(function(){
    window.view = new BoardView(<%= @board.as_json.to_json %>);
  })
</script>

<h1 class="message"></h1>

<table class="board">
  <% 3.times do |i| %>
    <tr>
      <% 3.times do |j| %>
        <td class="cell cell-<%= i %>-<%= j %>" data-row="<%= i %>" data-column="<%= j %>"></td>
      <% end %>
    </tr>
  <% end %>
</table>
